<div class='scroll-active-notes'>

  <div class='staff-notes'>
    <div class='draw-notes' id='C3'>C3</div>
    <div class='draw-notes' id='D3'>D3</div>
    <div class='draw-notes' id='E3'>E3</div>
    <div class='draw-notes' id='G3'>G3</div>
  </div>

  <div class='staff treble'>
    <img src='images/treble-clef.png'>
    <ul class='music'>
      <li class='line six'></li>
      <li class='line five'></li>
      <li class='line four'></li>
      <li class='line three'></li>
      <li class='line two'></li>
      <li class='line one'></li>
      <li class='line zero'></li>
    </ul>
  </div>

  <div class='staff bass'>
    <img src='images/bass-clef.png'>
    <ul class='music'>
      <li class='line six'></li>
      <li class='line five'></li>
      <li class='line four'></li>
      <li class='line three'></li>
      <li class='line two'></li>
      <li class='line one'></li>
      <li class='line zero'></li>
    </ul>
  </div>
</div>

<div class='keyboard-container'>
  <ul class='key-row'>
    <li ng-class='{keydown: key.active, flat: key.note[2]=="b"}' ng-repeat='key in keyboardLayout' class='{{key.cssClass}}'>
      <div class='key-top'>
        <span class='letter'>{{key.key}}</span>
        <span ng-if='!editMode' class='note'>{{key.note}}</span>
        <select ng-if='editMode' ng-model='key.note' ng-options='note for note in notes'></select>
      </div>
    </li>
  </ul>
</div>

<!-- Temporary Edit mode for moving keys around -->
<div><button ng-click='editMode = !editMode'>Edit Mode: {{editMode ? 'On' : 'Off'}}</button></div>
